<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" type="text/css" href="/css/chat_style.css" />
		<title>Teams Clone</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1>Microsoft Teams Video Call</h1>
			</header>
			<div class="join-main">
				<form method="POST" action="/video-call">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Start New Meeting by Entering Link or Paste Meeting Link</label>
						<input
							type="text"
							name="room"
							id="room"
							placeholder="Enter meeting link..."
							required
						/>
					</div>
					<input type="submit" name="submit" value="Join Meeting"/>
				</form>
			</div>
		</div>
	</body>
</html>