body{
    margin: 0;
    padding: 0;
}

#videoGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    margin: 3px;
    border-radius: 8px;
    border: 10px outset rgb(179, 129, 235);
}


.main{
    height: 100vh;
    display: flex;
    
}

.main_left{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_videos{
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main_controls{
    display: flex;
    background-color: #1C1E20;
    color: #d2d2d2;
    padding : 5px 5px 5px 5px;
    justify-content: space-evenly;
}

.main_controls_block{
    display: flex;
}

.copy-btn{
	cursor: pointer;
	padding: 10px 15px 10px;
	border: 0;
	font-size: 18px;
	color: white;
    background-color: #55096f;
	display: flex;
    flex-direction: row;
    justify-content: center;
	margin: 10px 5px 15px;
}

.main_controls_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    min-width: 80 px;
    cursor: pointer;
}

.icon-cog {
    color: #df573f;
  }

.main_controls_button i{
    font-size: 24px;
}

.main_controls_button:hover{
    background-color: #3D3D42;
    border-radius: 5px;
}

.leave_meeting{
    color: red;
    font-size: 20px;
    padding: 5px 15px 5px 5px;
}

.main_right{
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: background linear 0.5s;
    padding-top: 20px;
    
}

.crossbtn{
    position: absolute;
    top: 0 px;
    right: 25px;
    font-size: 20px;
    color: #f5f5f5;
    transform: rotate(45deg);
    cursor: pointer;
}

.main_header{
    color: #f5f5f5;
    text-align: center;
}

.main_chatWindow{
    flex-grow: 1;
    overflow-y: scroll;
}

.main_msgContainer{
    padding: 22px 12px;
    display: flex;
}

.main_msgContainer input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white
}

.messages{
    color: white;
    list-style: none;
}

.unmute, .stop{
    color: #CC3B33;
}


/*modal starts here*/


.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 400px;
	background-color: #55096f;
	text-align: left;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	overflow-y: scroll;
    overflow-x: hidden;
}

.modal-contents li{
	padding: 5px 0;
}

.modal-contents h3{
    text-align: center;
    margin-bottom: 15px;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 10px;
    color: white;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}






@media screen and (max-height: 450px) {
    .main_right {padding-top: 15px;}
  }
